[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mptt = "*"
django-db-constraints = "*"
"psycopg2-binary" = "*"
workalendar = "*"
django-extensions = "*"
progressbar2 = "*"
django-admin-sortable = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-pythonpath = "*"
model-mommy = "*"
pytest-cov = "*"
coveralls = "*"

[requires]
python_version = "3.6"
